{% extends "base.html" %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/property_detail.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="property-title text-center">{{ property.name }}</h1>
    <div class="row justify-content-between">
        <div class="col-md-5">
            <div class="property-details">
                <p><strong>{% trans "Location:" %}</strong> {{ property.location }}</p>
                <p><strong>{% trans "Size:" %}</strong> {{ property.size }} sq ft</p>
                <p><strong>{% trans "Type:" %}</strong> {{ property.property_type }}</p>
                <p><strong>{% trans "Bedrooms:" %}</strong> {{ property.bedrooms }}</p>
                <p><strong>{% trans "Bathrooms:" %}</strong> {{ property.bathrooms }}</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="property-features">
                <h4>{% trans "Features:" %}</h4>
                <ul>
                    {% if property.features %}
                    {% for feature in property.features.splitlines %}
                    <li>{{ feature }}</li>
                    {% endfor %}
                    {% else %}
                    <li>{% trans "No features listed." %}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="property-carousel mt-4 owl-carousel owl-theme">
        {% if property.main_video %}
        <div class="item">
            <video class="w-100" autoplay muted playsinline loop>
                <source src="{{ property.main_video.url }}" type="video/mp4">
                {% trans "Your browser does not support the video tag." %}
            </video>
        </div>
        {% endif %}
        {% if property.main_image %}
        <div class="item">
            <img src="{{ property.main_image.url }}" loading="lazy" alt="{{ property.name }}">
        </div>
        {% endif %}
        {% for img in property.images.all %}
        <div class="item">
            <img src="{{ img.image.url }}" loading="lazy" alt="{{ property.name }}">
        </div>
        {% endfor %}
        {% for video in property.videos.all %}
        <div class="item">
            <video class="w-100" autoplay muted playsinline loop>
                <source src="{{ video.video.url }}" type="video/mp4">
                {% trans "Your browser does not support the video tag." %}
            </video>
        </div>
        {% endfor %}
    </div>
    
    <div class="text-center back-button mt-4">
        <a href="{% url 'all_properties' %}" class="btn back-btn btn-primary">{% trans "Back to Properties" %}</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            nav: false,
            dots: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
    });
</script>
{% endblock %}
