{% extends "base.html" %}
{% load i18n %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/404.css' %}" />
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid h-100 d-flex align-items-center">
    <div class="row w-100">
        <!-- Adjust the column to stack on small screens -->
        <div class="col-12 col-md-8 col-lg-6 mx-auto my-3 text-center">
            <h1 class="display-4 logo-font text-black error-page">
                {% trans "The page you are looking for isn't available" %}
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'home' %}" class="btn-back account_pages btn py-3">
                        {% trans "Return to the homepage" %}
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
