{% extends "base.html" %}
{% load static i18n %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/properties.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="property-title">{% trans "Apartments" %}{% if current_locations %}
        - {{ current_locations.0 }}
        {% endif %}
    </h2>

    <!-- Search and Filter Banner -->
    <div class="search-box text-center">
        <div class="search-banner mb-4">
            <form class="form-inline" method="GET" action="{% url 'all_properties' %}">
                <div class="form-group mr-2">
                    <input type="text" class="form-control" placeholder="{% trans 'Search by Name' %}" name="q" value="{{ search_query }}">
                    <button class="form-control btn" type="submit">
                        <span class="icon"><i class="fas fa-search fa-lg" style="color: #051c2c;"></i></span>
                    </button>
                </div>
                <div class="form-group mr-2">
                    <select class="form-control" name="location">
                        <option value="">{% trans "Location" %}</option>
                        {% for loc in location_choices %}
                            <option value="{{ loc.0 }}" {% if loc.0 in current_locations %}selected{% endif %}>
                                {{ loc.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mr-2">
                    <select class="form-control" name="type">
                        <option value="">{% trans "Type" %}</option>
                        {% for type in property_types_choices %}
                            <option value="{{ type.0 }}" {% if type.0 in current_property_types %}selected{% endif %}>
                                {{ type.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
            </form>
        </div>
    </div>

    <div class="row mt-1 mb-5 align-items-center justify-content-center sorting-box">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-2 mb-md-0">
            <div class="sort-select-wrapper">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="size_asc" {% if current_sorting == 'size_asc' %}selected{% endif %}>{% trans "Size (smaller to larger)" %}</option>
                    <option value="size_desc" {% if current_sorting == 'size_desc' %}selected{% endif %}>{% trans "Size (larger to smaller)" %}</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>{% trans "Price (low to high)" %}</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>{% trans "Price (high to low)" %}</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center counter align-items-center">
            <p class="text-muted mb-0 text-center text-md-left">
                {% if search_query or current_locations or current_sorting != 'None_None' %}
                <span class="small text-white"><a class="text-white" href="{% url 'all_properties' %}">{% trans "All Properties" %}</a> | </span>
                {% endif %}
                {{ properties|length }} {% trans "Properties" %}{% if search_query %} {% trans "found for" %} <strong>"{{ search_query }}"</strong>{% endif %}
            </p>
        </div>
    </div>

    <div class="property-container mb-3">
        <div class="row">
            {% for property in properties %}
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 border-0 property-card">
                    <a href="{% url 'property_detail' property.id %}" class="card-link">
                        {% if property.main_video %}
                        <!-- Render video if available -->
                        <video class="card-img-top img-fluid" autoplay muted playsinline loop>
                            <source src="{{ property.main_video.url }}" type="video/mp4">
                            {% trans "Your browser does not support the video tag." %}
                        </video>
                        {% elif property.main_image %}
                        <!-- Render image if video is not available -->
                        <img class="card-img-top img-fluid" src="{{ property.main_image.url }}" alt="{{ property.name }}">
                        {% else %}
                        <!-- Fallback image if neither video nor image is available -->
                        <img class="card-img-top img-fluid" src="{% static 'media/noimage.png' %}" alt="{{ property.name }}">
                        {% endif %}
                        <div class="card-body mirror-silver-background pb-0">
                            <p class="mb-0 d-flex justify-content-between price align-items-baseline">
                                {{ property.name }}
                                <span class="price">€{{ property.price }}</span>
                            </p>
                        </div>
                        <div class="card-footer mirror-silver-background pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Property Details -->
                                    <div id="border" class="property-details">
                                        <div class="row">
                                            <!-- Left Column: Size and Location -->
                                            <div class="col-6">
                                                {% if property.size %}
                                                <p class="mb-0">
                                                    <i class="fas fa-ruler mr-1"></i>{{ property.size }} {% trans "sq ft" %}
                                                </p>
                                                {% endif %}
                                                {% if property.location %}
                                                <p class="mb-0">
                                                    <i class="fas fa-map-marker-alt mr-1"></i>{{ property.location }}
                                                </p>
                                                {% endif %}
                                            </div>
                                        
                                            <!-- Right Column: Bedrooms and Bathrooms -->
                                            <div class="col-6">
                                                {% if property.bedrooms %}
                                                <p class="mb-0">
                                                    <i class="fas fa-bed mr-1"></i>{{ property.bedrooms }} {% trans "Bedrooms" %}
                                                </p>
                                                {% endif %}
                                                {% if property.bathrooms %}
                                                <p class="mb-0">
                                                    <i class="fas fa-bath mr-1"></i>{{ property.bathrooms }} {% trans "Bathrooms" %}
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- Like Button outside the link -->
                    <div class="like-container">
                        {% if user.is_authenticated %}
                            <form action="{% url 'like_property' property.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="border: none; background: none; padding: 0;">
                                    <i class="fa-star like {% if user in property.liked_by.all %}fas light-base{% else %}far{% endif %}" id="like-icon-{{ property.id }}"></i>
                                </button>
                            </form>
                        {% else %}
                            <i class="far fa-star like" id="like-icon-{{ property.id }}" onclick="showLoginPrompt()"></i>
                        {% endif %}
                    </div>                    
                </div>
                
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
            <div class="col-12 d-none d-lg-block mb-5">
                <hr>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="help-button shadow-sm rounded-0">
        <a class="help-link d-flex h-100" href="{% url 'contact_us' %}">
            <i class="fa-solid fa-circle-info fa-bounce fa-xl mx-auto my-auto" style="color: #daa520;"></i>
        </a>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        // Handle sort selector change
        document.getElementById('sort-selector').addEventListener('change', function () {
            var selector = this;
            var currentUrl = new URL(window.location.href);

            var selectedVal = selector.value;
            if (selectedVal !== "reset") {
                var [sort, direction] = selectedVal.split("_");

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
            }

            window.location.replace(currentUrl);
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        // Handle like button click
        document.querySelectorAll('.like-container i').forEach(icon => {
            icon.addEventListener('click', function() {
                // Check if the icon is currently filled or outlined
                const isFilled = this.classList.contains('fas');
                
                if (isFilled) {
                    this.classList.remove('fas');
                    this.classList.add('far');
                } else {
                    this.classList.remove('far');
                    this.classList.add('fas');
                }
            });
        });
    });
    
    function showLoginPrompt() {
        alert('{% trans "Please log in to add a property to your favourites." %}');
    }
    
</script>
{% endblock %}
