* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #182d5f;
}

/* Header styles */
header {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Playfair Display", serif;
    color: #182d5f;
    padding: 0.3em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-background {
    padding: 10px 0;
}

.main-logo-link {
    color: #000;
    text-decoration: none;
}

.logo-font {
    font-size: 2rem;
    white-space: nowrap;
    color: #182d5f;
}

.logo {
    position: absolute; /* Position the logo absolutely */
    margin-top: 20%;
    z-index: 10000; /* Ensure the logo is above the navbar */
}

.logo-image {
    max-height: 250px; 
}


.form-control {
    border-radius: 0;
    box-shadow: none;
}

#user-name {
    color: #182d5f
}

#user-name:hover {
    color: #a9a9a9;
}

/* Dropdown menu styles */
.dropdown-menu {
    background-color: #ffffff; /* Ensure the dropdown has a background color */
    border: 1px solid #ddd; /* Add a border if needed */
    border-radius: 0.25rem; /* Adjust border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}

.dropdown-item {
    color: #182d5f; /* Ensure dropdown items have text color */
}

.dropdown-item:hover {
    background-color: #a9a9a9; /* Change background color on hover */
    color: #182d5f; /* Ensure text color remains consistent */
}

/* Ensure that dropdown toggle is properly displayed */
.dropdown-toggle::after {
    display: none; /* Remove the default caret if not needed */
}

#language-options {
    color: #182d5f;
}

.navbar-nav a {
    color: #182d5f;
    text-decoration: none;
    font-size: large;
}

.navbar-nav a:hover {
    text-decoration: overline;
}

/* Icon styles */
.icon {
    display: inline-block;
    color: #182d5f;
}

.icon:hover {
    color: #a9a9a9;
    
}

@media (max-width: 992px) {
    .d-lg-flex {
        display: block !important;
    }

    .d-none.d-lg-flex {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .logo-font {
        font-size: 1.5rem;
    }
}

/* Ensure dropdown menus are responsive */
@media (max-width: 992px) {
    .d-lg-flex {
        display: block !important;
    }

    .d-none.d-lg-flex {
        display: none !important;
    }
}

/* Ensure the logo scales on smaller screens */
@media (max-width: 576px) {
    .logo-image {
        max-height: 100px; /* Adjust as needed */
    }
}

/* Adjust dropdowns for mobile view */
@media (max-width: 768px) {
    .dropdown-menu {
        width: 100%;
        box-shadow: none;
    }
}
  
/* Hero section styles */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero #hero-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .hero-content {
    text-align: center;
    color: white;
    z-index: 1;
}

.hero-content h1 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Stronger shadow for h1 */
}

.hero-content p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Stronger shadow for p */
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
    font-family: "Cinzel", serif;
}

.hero p {
    font-size: 2em;
}

/* Main content styles */
main {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Contact Us and Brochure Download Section */
    /* Brochure Animation */
    @keyframes floatDown {
        0% { transform: translateY(0); }
        50% { transform: translateY(10px); }
        100% { transform: translateY(0); }
    }

    .brochure-icon {
        animation: floatDown 2s ease-in-out infinite; /* Floating effect */
    }

    /* Shake Animation */
    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
    }

    .contact-icon {
        animation: shake 0.5s ease-in-out infinite; /* Shaking effect */
    }

/* Property listings styles */
.property-listings {
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    background-color: white;
}

.property-listings h2 {
    color: #182d5f;
    font-family: "Italiana", sans-serif;
    text-transform: uppercase; 
    margin-bottom: 1em;
    font-size: 2.5em;          /* Larger font size for a bold presence */
    font-weight: 600;
}

/* Carousel Animation */
@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Carousel Container */
.frames {
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* Gradient Overlays for Smooth Edges */
.frames:before, .frames:after {
    position: absolute;
    top: 0;
    content: '';
    width: 150px;
    height: 100%;
    z-index: 2;
}

.frames:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255, 255, 255, 0.8));
}

.frames:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.8));
}

/* Slides Wrapper */
.frame_items {
    display: flex;
    gap: 2rem;
    width: calc(600px * 3 + 2rem * 2); /* Adjusted for 3 slides */
    animation: slides 10s infinite linear;
    box-sizing: border-box;
}

.frames:hover .frame_items {
    animation-play-state: paused;
}

/* Individual Slide */
.property {
    flex: 1 0 33.333%;
    height: 400px;
    background-color: #182d5f;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(5, 28, 44, 1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between media and details */
}

/* Media (Image/Video) Container */
.property-media {
    width: 100%;
    height: 400px; /* Set a consistent height for media */
    background-color: #ffffff;
    overflow: hidden;
}

.property-media img,
.property-media video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    object-position: center; /* Center the content */
}

/* Property Details */
.property-details {
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow to elevate the details section */
    position: relative;
    z-index: 1;
}

.property-details h3 {
    font-family: "Cinzel", serif;
    color: #182d5f;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.2;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
    .frame_items {
        width: calc(600px * 2 + 2rem * 1); /* Adjusted for 2 slides on medium screens */
    }
    .property {
        flex: 1 0 50%;
    }
}

@media (max-width: 768px) {
    .frame_items {
        width: 600px; /* Adjusted for 1 slide on small screens */
    }
    .property {
        flex: 1 0 100%;
        height: 300px; /* Adjust height for smaller screens */
    }
    .property-media {
        height: 180px; /* Adjust media height for smaller screens */
    }
}

@media (max-width: 576px) {
    .property {
        height: 250px; /* Further adjust height for very small screens */
    }
    .property-details {
        padding: 0.5rem; /* Reduce padding for very small screens */
    }
    .property-details h3 {
        font-size: 1rem; /* Adjust font size for very small screens */
    }
}


/* Glass button */

.glass-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-family: "Cinzel", serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; /* White text color for contrast */
    background: #182d5f; /* Light semi-transparent background with #051c2c */
    border: 1px solid rgba(5, 28, 44, 0.5); /* Slightly opaque border with #051c2c */
    border-radius: 3px;
    backdrop-filter: blur(8px); /* Slight blur effect for the glass look */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover and active states */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Pointer cursor for clickable */
}

.glass-button:hover {
    background: #fefefe;
    color: #233b75;
    text-decoration: none;
    border-color: 3px solid #182d5f;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 1); 
    transform: scale(1.05); /* Slight scale-up on hover */
}

.glass-button:active {
    background: #fefefe; 
    border-color: 3px solid #051c2c; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2); 
    transform: scale(0.98); /* Slight scale-down on click */
}


/* About Section Styles */
.about {
    background-color: #182d5f; 
    padding: 5em; /* Reduced padding for better responsiveness */
    margin-bottom: 3em;      
    text-align: center;      
}

.about h2 {
    color: white;
    font-family: "Italiana", sans-serif;
    text-transform: uppercase;             
    margin-bottom: 1.5em;      
    font-size: 2.5em;         
    font-weight: 600;         
}

/* Make the .about section more responsive */
@media (max-width: 992px) {
    .about {
        padding: 3em 1em; /* Adjust padding for medium devices */
    }

    .about h2 {
        font-size: 2em; /* Adjust font size for medium devices */
    }
}

@media (max-width: 576px) {
    .about {
        padding: 2em 1em; /* Adjust padding for small devices */
    }

    .about h2 {
        font-size: 1.5em; /* Adjust font size for small devices */
    }
}

/* Company Card Styles */
.company {
    background-color: white;   
    border: 1px solid #182d5f;
    border-radius: 1px;      
    padding: 1.5em;              /* Increased padding for a more luxurious feel */
    margin: 1.5em;             /* Adjusted margin for spacing between cards */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.3);
    text-align: center;  
    height: 450px;              
}

/* Media Styling for Uniformity */
.company img, 
.media-item {
    width: 100%;         
    height: 350px;            
    object-fit: cover;         /* Cover to maintain aspect ratio and fill the space */
    border-radius: 5px;       
    display: block;            /* Ensure block-level rendering */
    margin: 0 auto;            /* Center the media within its container */
}

/* Description Styling */
.company-description {
    color: #182d5f;            
    font-size: 1.3em;          
    margin-top: 0.5em;           /* Space above the description */
    font-weight: 500;         
}

.stats-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #182d5f;
    border-radius: 5px;
}

.stats-item {
    margin-bottom: 1em;
}

.stats-number {
    font-size: 3em;            /* Large font size for numbers */
    color: #182d5f;            /* Dark color for emphasis */
    font-weight: 700;          /* Bold for prominence */
    display: block;            /* Block display for better alignment */
}

.stats-label {
    font-size: 1.2em;          /* Slightly larger font size for labels */
    color: #182d5f;            /* Dark color for consistency */
    font-weight: 400;          /* Normal weight for labels */
    text-transform: uppercase; /* Uppercase for a classic feel */
}

/* Company Story Section Styles */
.company-story {
    background-color: #ffffff; 
    padding: 1em;                
    margin-top: 2em;           
    text-align: center;       
}

.company-story h2 {
    color: #182d5f;    
    font-family: "Cormorant Garamond", serif;    
    text-align: justify;  
    margin-bottom: 1em;        
    font-size: 2.3em;       
    font-weight: 600;          
}

.company-story p {
    color: #182d5f;    
    font-family: "Cormorant Garamond", serif; 
    text-align: justify;       
    line-height: 1.6;          
    margin-bottom: 1em;        
    font-size: 1em;            
}

.company-story .company-video {
    width: 100%;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.about-video {
    padding-left: 5em;
}

@media (max-width: 991px) {
    .company-story .col-lg-7,
    .company-story .col-lg-5 {
        text-align: justify;
    }
}


/* Footer styles */
.footer-cover {
    background-color: #182d5f;
    padding: 2rem 0; /* Adjust padding as needed */
}

/* Footer content layout */
footer .footer-content {
    width: 100%;
    max-width: 1200px; /* Adjust for desired maximum width */
    margin: 0 auto;
    padding: 0 2rem; /* Add some padding to the sides */
}

/* Ensure text is aligned to the left */
.text-left {
    text-align: left !important;
}

/* Column content adjustments */
.footer-logo {
    max-width: 100px; /* Set a reasonable width for the logo */
    height: auto; /* Ensure the height scales proportionally */
    margin-bottom: 20px; /* Add some spacing below the logo */
}

.footer-content p,
.footer-content ul {
    margin: 0; /* Ensure default margin is removed */
}

p.lilla a.email-link {
    text-decoration: none;
    color: inherit;
}

p.lilla a.email-link:hover {
    text-decoration: underline;
}

/* Social media links styles */
.links {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #fff;
    position: relative;
}

.icon {
    color: #1d220c;
    transition: .5s;
}

.icon:hover {
    color: white;
    transform: rotateY(360deg);
}

/* Social media hover effects */
.links:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: .5s;
}

.links:hover:before {
    top: 0;
}

.insta:before {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.whatsapp:before {
    background: #5dc958;
}

.location:before {
    background: #f00;
}

/* "Made by" section adjustments */
.footer-content p:last-child {
    margin-top: 5px;
} 

  /* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
  
    .header-container {
      padding-top: 164px;
    }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
    .header-container {
      padding-top: 116px;
    }
  
    body {
      height: calc(100vh - 116px);
    }
  
    .display-4.logo-font.text-black {
          font-size: 2rem;
    }
  
    .nav-link {
          padding: 0.10rem;
          font-size: 1rem;
    }
  
    .nav-link i.fa-lg {
          font-size: 1rem;    
    }
  
    .navbar-toggler {
          padding: .6rem .6rem;
          font-size: 1rem;
    }
}
  
  
  @media (max-width: 767px) {
      .mobile-view {
          margin-bottom: 5%;
      }
    }

    
    .login {
        background-color: red;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(5, 28, 44, 0.1);
        margin: 2em auto;
        max-width: 400px;
    }


/* Star sign - Gold shimmer - https: //codepen.io/Amarjit/pen/mrbjNy */
.fa-star-base {
    color: #daa520;
}

.light-base {
    display: inline-block;
    background: linear-gradient(
        135deg,
        #daa520 0%,
        #daa520 40%,
        #ffffff 50%,
        #daa520 60%,
        #daa520 100%
    );
    background-size: 200%;
    background-position: -200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}
