{% extends "base.html" %}
{% load i18n %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black error-page">
                {% trans "The page you are looking for isn't available" %}
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" class="btn-back account_pages btn py-3">
                        {% trans "Return to the homepage" %}
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
