{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}
{% load account socialaccount %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}" />
{% endblock %}

<!-- head title -->
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
<!-- inner content -->
{% block inner_content %}
<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
      <h1 class="logo-font text-center">{% trans "Password Reset" %}</h1>
      <hr />
      
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p class="text-center">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
      </p>

      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="text-center mt-3">
          <a class="back-button" href="{% url 'account_login' %}">
            Back to Login
          </a>
        </div>
        <div class="text-center">
          <input class="reset-primaryAction primaryAction btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
        </div>
      </form>

      <p class="text-center mt-3">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
