{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}
{% load account socialaccount %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}" />
{% endblock %}

{% block head_title %}
<!-- trans sign up closed -->
{% trans "Sign Up Closed" %}{% endblock %} {% block inner_content %}
<hr />
<h2 class="logo-font mt-5 mb-4">{% trans "Sign Up Closed" %}</h2>
<hr />

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}
