{% extends "base.html" %}
{% load static i18n %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profiles.css' %}" />
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="mb-5 tab">
        <div class="main-card mirror-silver-background p-3">
            <h2 class="card-title text-center">{% trans "Profile of" %} {{ user.username }}</h2>
            <div class="profile-info">
                <p class="larger font-weight-bold">{% trans "Details" %}:</p>
                <p class="larger">{% trans "First Name" %}: <strong>{{ user.first_name }}</strong></p>
                <p class="larger">{% trans "Last Name" %}: <strong>{{ user.last_name }}</strong></p>
                <p class="larger">{% trans "Email" %}: <strong>{{ user.email }}</strong></p>
                <p class="small">{% trans "Change your password" %} <a href="{% url 'password_change' %}">{% trans "here" %}</a></p>
                <p class="larger">{% trans "Phone Number" %}: <strong>{{ profile.default_phone_number|default:_("Not provided") }}</strong></p>
            </div>
            <p class="small">{% trans "If you would like to register or update your details, please do so below" %}:</p>
            <form method="post" action="{% url 'update_user_profile' %}" class="user-profile-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
                <div class="form-group">
                    {{ form.default_phone_number.label_tag }}
                    {{ form.default_phone_number }}
                    {{ form.default_phone_number.errors }}
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
            </form>
        </div>
    </div>

    <div>
        <div class="main-card mirror-silver-background p-3">
            <h2 class="text-center">{% trans "My Favourites" %} <i class="fas fa-star fa-star-base light-base"></i></h2>
            <div class="row">
                {% for property in liked_properties %}
                    <div class="col-md-6 mb-3">
                        <div class="card h-100 border-0 property-card">
                            {% if property.main_video %}
                                <!-- Render video if available -->
                                <a href="{% url 'property_detail' property.id %}">
                                    <video class="card-img-top img-fluid" autoplay muted playsinline loop>
                                        <source src="{{ property.main_video.url }}" type="video/mp4">
                                        {% trans "Your browser does not support the video tag." %}
                                    </video>
                                </a>
                            {% elif property.main_image %}
                                <!-- Render image if video is not available -->
                                <a href="{% url 'property_detail' property.id %}">
                                    <img class="card-img-top img-fluid" loading="lazy" src="{{ property.main_image.url }}" alt="{{ property.name }}">
                                </a>
                            {% else %}
                                <!-- Fallback image if neither video nor image is available -->
                                <a href="{% url 'property_detail' property.id %}">
                                    <img class="card-img-top img-fluid" loading="lazy" src="{% static 'media/noimage.png' %}" alt="{{ property.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0 d-flex justify-content-between price align-items-baseline">
                                    {{ property.name }}
                                    <span class="price">€{{ property.price }}</span>
                                </p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col-6">
                                        {% if property.size %}
                                            <p class="mb-0">
                                                <i class="fas fa-ruler mr-1"></i>{{ property.size }} {% trans "sq ft" %}
                                            </p>
                                        {% endif %}
                                        {% if property.location %}
                                            <p class="mb-0">
                                                <i class="fas fa-map-marker-alt mr-1"></i>{{ property.location }}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        {% if property.bedrooms %}
                                            <p class="mb-0">
                                                <i class="fas fa-bed mr-1"></i>{{ property.bedrooms }} {% trans "Bedrooms" %}
                                            </p>
                                        {% endif %}
                                        {% if property.bathrooms %}
                                            <p class="mb-0">
                                                <i class="fas fa-bath mr-1"></i>{{ property.bathrooms }} {% trans "Bathrooms" %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Like Button -->
                            <div class="like-container">
                                {% if user.is_authenticated %}
                                    <form action="{% url 'like_property' property.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link" style="border: none; background: none; padding: 0;">
                                            <i class="fa-star like {% if user in property.liked_by.all %}fas light-base{% else %}far{% endif %}" id="like-icon-{{ property.id }}"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <i class="far fa-star like" id="like-icon-{{ property.id }}" onclick="showLoginPrompt()"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="card h-100">
                            <div class="card-body d-flex align-items-center">
                                <!-- Text and button aligned in a row -->
                                <div class="row w-100">
                                    <div class="col-md-6 text-center">
                                        <p class="card-text not-yet mb-0">{% trans "No liked properties yet." %}</p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <a href="{% url 'all_properties' %}" class="btn btn-primary">{% trans "View Properties" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</div>
{% endblock %}
